name: CI

on:
  push:
    branches: [master, dev]
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'docs/**'
      - 'LICENSE'
  pull_request:
    branches: [master, dev]
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - 'docs/**'
      - 'LICENSE'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Configure Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      - name: Run tests
        run: npm run test

  # cd:
  #   needs: ci

  #   if: github.ref == 'refs/heads/main'

  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v2
  #     - name: Configure Node.js
  #       uses: actions/setup-node@v2
  #       with:
  #         node-version: '18'
  #     - name: Install dependencies
  #       run: npm install
  #     - name: Build
  #       run: npm run build
  #     - name: Deploy
  #       run: npm run deploy
  #     - name: Notify
  #       run: npm run notify
  #     - name: Cleanup
  #       run: npm run cleanup